.content {
  margin-top: 20px;
}
.columnLeft {
  float: left;
  width: 50%;
}
.columnLeft img {
  width: 100%;
}

.columnRight {
  float: left;
  width: 50%;
  padding-left: 14px;
}
.active {
  color: #ff0000;
}

.forecastList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.forecastList li {
  height: 40px;
}

.date, .time {
  font-size: x-small;
}

.icon {
  margin-top: 3px;
  float: left;
  width: 40px;
}
