.content {
  margin-top: 20px;
}

.arrival {
  color: #d8ce3c;
  font-weight: bold;
}

.lastTime {
  font-size: x-small;
}

.late {
  color: #b82a30;
}

table {
  border:0;
  border-collapse:collapse;
  width: 100%;
}

thead {
  background-color: #202055;
  border-bottom: 1px solid #79c2ff;
}

tr, td {
  padding: 4px;
  margin: 0;
}

tbody tr:nth-child(even) {
  background-color: #292929;
}
